.navContainer {
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
}

.titleLoginBasketSection {
  display: flex;
  justify-content: space-between;
  .loginAndBasketContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 1%;
  }
}

.loginTextAndButton {
  display: flex;
}

.logoAndDonationContainer {
  display: flex;
  flex-direction: column;
  padding: 09;
}
